.auth {
  min-height: 100dvh;
  display: flex;
  gap: 75px;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 2px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.1);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

.login form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 50px 25px;
  border-radius: 35px;
}

.login img {
  width: 85px;
  height: 100px;
  transform: rotate(90deg);
}

.login h1 {
  font-weight: 400;
}

.login label {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-top: 25px;
}

.login label:last-of-type {
  margin-top: 35px;
}

.login input {
  width: 100%;
  border-radius: 7px;
  padding: 7px;
  margin-top: 3px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.login button {
  width: 100%;
  margin-top: 25px;
  padding: 10px 0;
  border-radius: 7px;
  border: none;
  background: #121214;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login button:hover {
  background: #2a2a2c;
}
