nav {
  width: 1300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  overflow: hidden;
}

nav.inactive {
  display: none;
}

nav .logo {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  font-size: 32px;
  padding: 0;
}

nav .logo img {
  width: 50px;
  margin-right: 7px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

nav ul a:hover {
  color: #ff6b6b;
}

nav .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

nav .cart_icon {
  position: relative;
}

nav .right > a > i {
  font-size: 24px;
  color: #ff6b6b;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

nav .right > a > i:hover {
  border: 2px solid #ff6b6b;
}

nav .cart_size {
  width: 25px;
  height: 23px;
  font-size: 14px;
  padding: 0;
  position: absolute;
  inset: -5px;
  background: #ff6b6b;
  color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

nav .cart_size.active {
  display: flex;
}

nav .authentication {
  display: flex;
  gap: 13px;
}

nav .authentication .signup,
nav .authentication .logout {
  height: 50px;
  font-size: 14px;
  border-radius: 10px;
  background: #ff6b6b;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  border: 1px solid rgba(0, 0, 0, 0);
  text-decoration: none;
}

nav .authentication .signup:hover,
nav .authentication .logout:hover {
  background: white;
  color: #ff6b6b;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav .authentication i {
  font-size: 24px;
  cursor: pointer;
  color: white;
  background: #ff6b6b;
  padding: 7px;
  border-radius: 50%;
  transition: 0.5s;
  border: 2px solid #ff6b6b;
}

nav .authentication i:hover {
  background: white;
  border: 1px soild #ff6b6b;
  color: #ff6b6b;
}

nav .authentication img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

nav .authentication img {
  border: 2px solid white;
}
